<header class="header">
	<div class="header-inner">
		<h1 class="header-title">At.</h1>
		<ul class="header-nav">
			<li class="header-nav-li">Illustration</li>
			<li class="header-nav-li">Coding</li>
			<li class="header-nav-li">Profile</li>
		</ul>
	</div>
</header>
