<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<title>Portfolio</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/common/css/common.css">
</head>
<body id="index" class="main">
	<% include common/_header %>
	<section class="main-sec coding">
		<h2 class="main-h2">Cording</h2>

		<div class="cording-list">
			<div class="coding-cap">
				<img class="coding-cap_pc" src="/images/coding_cap_maeda_pc.jpg" alt="前田建設工業採用サイト">
				<img class="coding-cap_sp" src="/images/coding_cap_maeda_sp.jpg" alt="前田建設工業採用サイト">
			</div>
			<div class="coding-info">
				<span class="coding-info-date">2016.2</span>
				<i class="icon_device">responsive</i>
				<p class="coding-info-title">前田建設工業 採用サイト</p>
				<p class="coding-info-title">https://www.maeda.co.jp/recruit/</p>
			</div>
		</div>

	</section>
</body>
</html>
